:root{
  --mainWhite: #f3f3f3;
  --lightBlue: #009ffd;
  --mainBlue: #2a2a72;
  --mainYellow: #ffa400;
  --mainDark: #232528;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}
.mlauto{
  margin-left: auto;
}
.imgis{
  transition: all 1s linear;
}
.imgis:hover{
  margin-right: 300rem;
  transform: scale(1.3);
  
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlue);
  border-radius: 0 !important;
  border:   0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow)
}